In [1]:
import pandas as pd

In [2]:
cleaning = pd.read_excel('./Customer Call List.xlsx')

In [3]:
cleaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [4]:
cleaning.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [5]:
cleaning.tail()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
cleaning['Address'].unique()

array(['123 Shire Lane, Shire', '93 West Main Street',
       '298 Drugs Driveway', '980 Paper Avenue, Pennsylvania, 18503',
       '123 Dragons Road', '768 City Parkway', '1209 South Street',
       '98 Clue Drive', '123 Middle Earth', '25th Main Street, New York',
       '612 Shire Lane, Shire', '2394 Hogwarts Avenue',
       '2039 Main Street', '343 City Parkway', '214 HR Avenue',
       '2395 Hogwarts Avenue', '121 Paper Avenue, Pennsylvania',
       '3498 Super Lane', 'N/a', '910 Tatooine Road, Tatooine'],
      dtype=object)

In [7]:
cleaning.drop(['Not_Useful_Column'], axis=1, inplace=True)

In [8]:
cleaning

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [9]:
cleaning['First_Name'] = cleaning['First_Name'].str.strip()

In [10]:
cleaning['First_Name'] = cleaning['First_Name'].str.upper()

In [11]:
cleaning

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,WALTER,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,RON,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,Winger,NaN,1209 South Street,No,No
7,1008,SHERLOCK,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,GANDALF,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,PETER,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,LESLIE,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,TOBY,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,RON,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,CREED,Braton,N/a,N/a,N/a,Yes
19,1020,ANAKIN,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,ANAKIN,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [12]:
cleaning['Address']

0                     123 Shire Lane, Shire
1                       93 West Main Street
2                        298 Drugs Driveway
3     980 Paper Avenue, Pennsylvania, 18503
4                          123 Dragons Road
5                          768 City Parkway
6                         1209 South Street
7                             98 Clue Drive
8                          123 Middle Earth
9                25th Main Street, New York
10                    612 Shire Lane, Shire
11                     2394 Hogwarts Avenue
12                         2039 Main Street
13                         343 City Parkway
14                            214 HR Avenue
15                     2395 Hogwarts Avenue
16           121 Paper Avenue, Pennsylvania
17                          3498 Super Lane
18                                      N/a
19              910 Tatooine Road, Tatooine
20              910 Tatooine Road, Tatooine
Name: Address, dtype: object

In [14]:
cleaning['Address'] = cleaning['Address'].str.replace('N/a', ' - ')

In [16]:
cleaning['Address']

0                     123 Shire Lane, Shire
1                       93 West Main Street
2                        298 Drugs Driveway
3     980 Paper Avenue, Pennsylvania, 18503
4                          123 Dragons Road
5                          768 City Parkway
6                         1209 South Street
7                             98 Clue Drive
8                          123 Middle Earth
9                25th Main Street, New York
10                    612 Shire Lane, Shire
11                     2394 Hogwarts Avenue
12                         2039 Main Street
13                         343 City Parkway
14                            214 HR Avenue
15                     2395 Hogwarts Avenue
16           121 Paper Avenue, Pennsylvania
17                          3498 Super Lane
18                                       -
19              910 Tatooine Road, Tatooine
20              910 Tatooine Road, Tatooine
Name: Address, dtype: object

In [17]:
cleaning['Address'] = cleaning['Address'].str.strip()

In [18]:
cleaning

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,WALTER,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,RON,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,Winger,NaN,1209 South Street,No,No
7,1008,SHERLOCK,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,GANDALF,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,PETER,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,LESLIE,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,TOBY,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,RON,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,CREED,Braton,N/a,-,N/a,Yes
19,1020,ANAKIN,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,ANAKIN,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [20]:
cleaning['Last_Name'].unique()

array(['Baggins', 'Nadir', '/White', 'Schrute', 'Snow', 'Swanson',
       '  Winger', 'Holmes', nan, 'Parker', 'Gamgee', '...Potter',
       'Draper', 'Knope', 'Flenderson_', 'Weasley', 'Scott', 'Kent',
       'Braton', 'Skywalker'], dtype=object)

In [21]:
cleaning['Last_Name'] = cleaning['Last_Name'].str.replace('/White', 'White')
cleaning['Last_Name'] = cleaning['Last_Name'].str.replace('...Potter', 'Potter')
cleaning['Last_Name'] = cleaning['Last_Name'].str.replace('Flenderson_', 'Flenderson')

In [22]:
cleaning['Last_Name'].unique()

array(['Baggins', 'Nadir', 'White', 'Schrute', 'Snow', 'Swanson',
       '  Winger', 'Holmes', nan, 'Parker', 'Gamgee', 'Potter', 'Draper',
       'Knope', 'Flenderson', 'Weasley', 'Scott', 'Kent', 'Braton',
       'Skywalker'], dtype=object)

In [23]:
cleaning['First_Name'] = cleaning['First_Name'].str.strip()

In [24]:
cleaning

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,FRODO,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,ABED,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,WALTER,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,DWIGHT,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,JON,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,RON,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,JEFF,Winger,NaN,1209 South Street,No,No
7,1008,SHERLOCK,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,GANDALF,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,PETER,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,SAMWISE,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,HARRY,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,DON,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,LESLIE,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,TOBY,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,RON,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,MICHAEL,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,CLARK,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,CREED,Braton,N/a,-,N/a,Yes
19,1020,ANAKIN,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,ANAKIN,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [26]:
cleaning.drop([('firstName', 'Surname')], axis=1, inplace=True)

KeyError: "[('firstName', 'Surname')] not found in axis"